<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Work Experience</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo">Forrest Wortham</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="education.html">Education</a></li>
        <li><a href="experience.html">Work Experience</a></li>
        <li><a href="programming.html">Programming</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="education.html">Education</a></li>
        <li><a href="experience.html">Work Experience</a></li>
        <li><a href="programming.html">Programming</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <h1>Work Experience</h1>

  <footer class="page-footer teal darken-4">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="yellow-text text-lighten" href="https://www.linkedin.com/in/fwortham4">Forrest Wortham</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
</body>
</html>